html {
}
body {
  margin: 0;
  background-color: rgb(210, 212, 217);
  font-family: 'PT Sans Narrow', serif;
  font-size: 21px;
  letter-spacing: 1px;
  width: 100%;
}

#projects {
  display: none;
}

#contact {
  display: none;
}

.spacer {
  display: block;
  height: 2.5em;
}

header {
  /*position: relative;*/
  background-color: #071e3d;
  background-image: url("images/starry-background.jpeg");
  background-size: auto;
  /*height: 100vh;*/
  /*width: 100%;*/
  /*background-image: url("http://i.imgur.com/tLhJOrE.png");*/
  /*background-image: url("http://66.media.tumblr.com/54af19212db5e2cce51d031cb32709fd/tumblr_o7l2sq0iSy1qze3hdo1_r2_500.gif");*/
/*   Sets the image so it only covers the viewable area */
  /*background-size: cover;*/
/*   Centers the image to the middle of the screen */

}

header img {
  border-radius: 100%;
  border: 1px solid black;
  padding: 0px;
  width: 45%;
}

header .title {
  text-align: center;
}

header .title h1 {
  color: #dcedf1;
  font-family: 'Amatic SC';
  letter-spacing: 3px;
  text-shadow: 1px 1px orange;
}

header .title h3 {
  color: #e2cfcf;
  padding-bottom: 1.5em;
  margin: 0;
  text-shadow: 2px 2px black;
}

.contact-strip {
  background-color: rgba(48, 63, 117, 0.29);
  text-align: center;
  letter-spacing: .5em;
  padding: 1em;
}

.contact-strip a {
  color: #f94d4d;
}

.menu-bar {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #251d3e;
}

.menu-bar li {
  float: left;
  width: 33%;
}

.menu-bar li a {
  text-transform: uppercase;
  display: block;
  color: rgb(196, 220, 224);
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

.active {
    background-color: #cb2828;
}

.content-pane{
  background-color: rgb(245, 245, 241);
  padding: .5em;
  margin: .5em;
  border-radius: .5em;
}

h2 {
  text-align: center;
  font-weight: bolder;
  margin: 5px;
}

a {
  text-decoration: none;
  color: rgb(185, 31, 54)
}

.contact-strip a {
  color: #d4d4d4;
}
.contact-strip a:visited {
  color: #d4d4d4;
}

a:visited {
  color: rgb(194, 52, 72);
}

.link {
  color: yellow;
  margin-left: 1em;
  margin-right: 1em;
  letter-spacing: 0.9px;
}

.button {
  color: #DAEDE2;
  font-family: 'PT sans Narrow', sans-serif;
  background-color: #2980B9;
  padding: .5em;
  border: 1px solid #2C3E50;
  border-radius: .5em;
  text-transform: uppercase;

}

img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  padding: 1em;
}

.project {
  background-color: rgb(255,0,255,1);
  position: relative;
  color: #524747;
  padding: 1em;
}

.project .heading {
  height: 20%;
  background-color: #2980B9;
  border-top-left-radius: 1em;
  border-top-right-radius: 1em;
  padding-top: .7em;
}

.project .heading h2 {
  text-align: center;
  color: #2f3E50;
}

.project .content {
  background-color: #dde0ad;
  width: 100%;
  border-bottom-left-radius: 1em;
  border-bottom-right-radius: 1em;
}

.project .content p {
  margin: 0;
  padding-left: 1em;
  padding-right: 1em;
  padding-top: 1em;
  /*padding-bottom: 1em;*/
}

.project .content h3 {
  padding-left: 1em;
}

.project .content .spacer {
  display: block;
  height: 7em;
}

.project .links {
  background-color: #eca169;
  position: absolute;
  bottom: 0;
  left: 1em;
  right: 1em;
  height: 7em;
  /*width: 100%;*/
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
}

.project .links p {
  padding-left: 1em;
}

.project .links a {
  padding-left: 1em;
  text-decoration: none;
}

.project  i {
  position: relative;
  top: 5px;
}

.section-head {
  color: rgb(208, 27, 27);
  font-size: 35px;
  text-align: center;
  font-family: "Amatic SC";
  margin: 5px;
}

.section-head a {
  color: rgb(144, 25, 25);
}

footer {
  background-color: rgba(256, 256, 256, 0.2);
  position: absolute;
  padding: .5em;
  width: 100%;
  text-align: center;
}

footer .code-by-hand {
  font-size: 10px;
}

footer .footer-name {
  font-size: 12px;
}

@media only screen and (min-width: 768px) {
     /* input desktop only styles below here */
    header {
       /*background-image: url("http://i.imgur.com/NmI3q8D.gif");*/
      }

    header img {
      width: 20%;
    }

    .content-pane {
      width: 550px;
      margin-left: auto;
      margin-right: auto;
    }

    .section-head {
      font-size: 45px;
    }
}
