html {
}
body {
  margin: 0;
  background-color: rgb(210, 212, 217);
  font-family: 'PT Sans Narrow', serif;
  font-size: 21px;
  letter-spacing: 1px;
  width: 100%;
}

#projects {
  display: none;
}

#contact {
  display: none;
}

.spacer {
  display: block;
  height: 2.5em;
}

header {
  background-color: #071e3d;
  background-image: url("../images/starry-background.jpeg");
  background-size: auto;
}

header img {
  border-radius: 100%;
  border: 1px solid black;
  padding: 0px;
  width: 45%;
}

header .title {
  text-align: center;
}

header .title h1 {
  color: #dcedf1;
  font-family: 'Amatic SC';
  letter-spacing: 3px;
  text-shadow: 1px 1px orange;
}

header .title h3 {
  color: #e2cfcf;
  padding-bottom: 1.5em;
  margin: 0;
  text-shadow: 2px 2px black;
}

.contact-strip {
  background-color: rgba(48, 63, 117, 0.29);
  text-align: center;
  letter-spacing: .5em;
  padding: 1em;
}

.contact-strip a {
  color: #f94d4d;
}

.menu-bar {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #251d3e;
}

.menu-bar li {
  float: left;
  width: 33%;
}

.menu-bar li a {
  text-transform: uppercase;
  display: block;
  color: rgb(196, 220, 224);
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

.active {
    background-color: #cb2828;
}

.content-pane{
  background-color: rgb(245, 245, 241);
  padding: .5em;
  margin: .5em;
  border-radius: .5em;
}

h2 {
  text-align: center;
  font-weight: bolder;
  margin: 5px;
}

a {
  text-decoration: none;
  color: rgb(185, 31, 54)
}

.info-text {
  padding: 1em;
  margin: 0;
  text-align: center;
}

.contact-strip a {
  color: #d4d4d4;
}
.contact-strip a:visited {
  color: #d4d4d4;
}

a:visited {
  color: rgb(194, 52, 72);
}

.link {
  color: yellow;
  margin-left: 1em;
  margin-right: 1em;
  letter-spacing: 0.9px;
}

img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  padding: 1em;
}

.section-head {
  color: rgb(205, 11, 11);
  font-size: 35px;
  text-align: center;
  font-family: "Amatic SC";
  margin: 5px;
}

.content-pane i {
  color: rgb(60, 60, 60);
}

footer {
  background-color: rgba(256, 256, 256, 0.2);
  position: absolute;
  padding-top: .7em;
  width: 100%;
  text-align: center;
}

.button {
  border-radius: .2em;
  display: block;
  text-decoration: underline;
}

footer .code-by-hand {
  font-size: 12px;
}



@media only screen and (min-width: 768px) {
     /* input desktop only styles below here */
    header {
       /*background-image: url("http://i.imgur.com/NmI3q8D.gif");*/
      }

    header img {
      width: 20%;
    }

    .content-pane {
      width: 550px;
      margin-left: auto;
      margin-right: auto;
    }

    .section-head {
      font-size: 45px;
    }

    a {
      transition: color .3s linear;
    }

    .contact-strip a:hover {
      color: rgb(208, 27, 27);
    }

    .menu-bar a:hover {
      color: rgb(208, 27, 27);
    }

    .project {
      width: 300px;
      font-size: 18px;
    }
}
